PHOTO_PRISM_BASE_URL=https://photoprism.rossmoney.me
PHOTO_PRISM_ACCESS_TOKEN=your-access-token
PHOTO_PRISM_API_KEY=your-api-key-here
PHOTO_PRISM_USE_BASIC_AUTH=true
PHOTO_PRISM_OAUTH_CLIENT_ID=
PHOTO_PRISM_OAUTH_CLIENT_SECRET=
PHOTO_PRISM_USERNAME=
PHOTO_PRISM_PASSWORD=
